/* App.css */
.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out; /* Smooth transition */
  }
  
  .title {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  